.ff0{font-family:sans-serif;visibility:hidden;}
.sc_{text-shadow:none;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
}
.y0{bottom:0.000000px;}
.h0{height:850.320000px;}
.h1{height:850.500000px;}
.w0{width:1133.760000px;}
.w1{width:1134.000000px;}
.x0{left:0.000000px;}
@media print{
.y0{bottom:0.000000pt;}
.h0{height:1133.760000pt;}
.h1{height:1134.000000pt;}
.w0{width:1511.680000pt;}
.w1{width:1512.000000pt;}
.x0{left:0.000000pt;}
}
